*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
bin/
gen/
build.xml
local.properties
target/
pom.xml.*
release.properties
.classpath
.project
.externalToolBuilders/
*.ipr
*.iws
.idea/
out/
.DS_Store
.gradle/
signing.properties